# just used by testing code
freezegun
rich
pytest
coverage
mypy

# used for optional functionality
google_cloud_storage>=1.35
pandas
orjson
matplotlib
python-dotenv
networkx
moz-sql-parser
psutil
pyarrow
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
minio
data_expectations


# used by mypy
types-orjson
types-ujson
types-python-dateutil